<form class="form">
    <div class="title">Welcome, <br><span>Enter your details and sign up</span></div>
    <input type="name" placeholder="Full Name" name="name" class="input">
    <input type="email" placeholder="Email" name="email" class="input">
    <input type="password" placeholder="Password" name="password" class="input">
    <input type="password" placeholder="Re-enter password" name="re-password" class="input">
    <div class="no-account">Already have an account? <a routerLink="/sign-up">Log in</a></div>

    <button class="button-confirm">Let`s go →</button>
</form>