<form class="form">
    <div class="title">Welcome, <br><span>Enter your details and sign up</span></div>
    <input type="name" name="name" [(ngModel)]="name" placeholder="Full Name">
    <input type="email" name="email" [(ngModel)]="email" placeholder="Email">
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
    <!-- <input type="password" name="rePassword" [(ngModel)]="rePassword" placeholder="Re-enter password"> -->
    <div class="no-account">Already have an account? <a routerLink="/login">Log in</a></div>

    <button class="button-confirm" (click)="onSignUp()">Sign up →</button>
</form>